{% ifequal diff_pk 1 %} <!--diff_pkは難易度の主キーであり、1ならEasyです-->
    <h1>
        アナタが目指す場所は、{{goal}}です！<!--goalはゴール名です。-->
    </h1>
{% else %}
    <h1>
        キーワードを並び替えて2進数から{{change}}に変換し、その場所を目指せ！<!--changeは変換先のn進数-->
    </h1>
    <ol>
        {% for quiz in quizzes %}<!--quizzesはそのプレイヤーのクイズのあつまり-->
            <li>
                {{quiz.keyword}}
            </li>
        {% endfor %}
    </ol>
    <table>
        <thred>
            <tr><th></th><th>2進数</th><th>{{change}}</th></tr>
        </thred>
        <tbody>
            {% for correspond in corresponds %}<!--correspondはbinaryが二進数でtoBaseが変換先-->
                <tr><td>{{correspond.binary}}</td><td>{{correspond.to_base}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endifequal %}